<a href="https://colab.research.google.com/github/lucas-vinij/desenvolvedor_python_igti/blob/main/Aula02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 02

In [ ]:
# Isso é um comentario 
multi = lambda x,y : x * y
multi(3,2)

6

In [ ]:
# criando variaveis 
pessoa = 'Isso é um Texto'
idade = 34
altura = 1.76

print(f'{pessoa} \n{idade} \n{altura}')

Isso é um Texto
34
1.76

In [ ]:
idade = 2022 - 2000
idade

22

In [ ]:
decimal = 15 / 3
decimal_2 = 15 // 3
print(decimal,'\n',decimal_2)

5.0
 5

In [ ]:
'''
Regras sobre variaveis 
  Não é permitido utilizar caracateres especiais
  nem espaço em branco. Não podem comecar com numeros ou pontuacao
'''

'\nRegras sobre variaveis \n  Não é permitido utilizar caracateres especiais\n  nem espaço em branco. Não podem comecar com numeros ou pontuacao\n'

In [ ]:
variavel = 0
variavel2 = 99
print(variavel, variavel2)

0 99

In [ ]:
NOME = 'Lucas'
Sobrenome = 'Nazare'
print(NOME, Sobrenome)

Lucas Nazare

In [ ]:
nome = 'Jose'
print(NOME, nome)

Lucas Jose

# Tipos de erros 
1. Erros de Sintaxe
2. Erros em Tempo de Execução
3. Erros Lógicos

In [ ]:
# Erro de sintaxe 
x = 3
y = 5
print x + y

SyntaxError: ignored

In [ ]:
# utilizacao de uma variavel inexistente
x = 0 
print(xx)

NameError: ignored

In [ ]:
# erro logico 
x = 5.0
y = 7.0
z = 12.0
media = x + y +z /3
print(media)

16.0

In [ ]:
x = 5.0
y = 7.0
z = 12.0
media = (x + y + z) /3
print(media)

8.0

In [ ]:
if x == 3:  
  print('HH')
else:
  print('AA')

AA